@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=swap');

body {
  background-image: url('../assets/image/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

#root {
  min-height: 100vh;
}

.container {
  height: 100%;
  max-width: 90%;

  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.wrapper__loader {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

// .main {
//   flex: 1 1 auto;
//   display: flex;
//   // flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }
