.promo {
  justify-self: center;
  padding-bottom: 20px;
  
  @media (max-width: 768px) {
    padding: 50px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {

    p:first-child {
      position: relative;
      align-self: self-start;
      font-size: 4vw;
      font-family: 'Marck Script', cursive;
    }

    p:last-child {
      margin-top: 20px;
      font-weight: 500;
      font-size: 8vw;
      font-family: 'Castoro Titling', cursive;
    }

    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    font-size: 9vw;
    font-weight: 700;
    line-height: 90%;
  }

  &__text {
    max-width: 535px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;

    @media (min-width: 767px) {
      font-size: 20px;
    }
  }

  &__brands {
    
    height: 23px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin: 0 10px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }
}

.form {
  position: relative;
  max-width: 400px;
  width: 100%;
  margin: 25px 0;
  height: 70px;
  display: flex;
  justify-content: center;

  &__field {
    width: inherit;
    padding-left: 30px;
    border: 2px solid black;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &__btn {
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px 30px;
    border: none;
    background: black;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__btn:hover ~ &__actions > span svg {
    animation: fade .2s linear .2s;
  }

  &__btn:hover ~ &__actions div span:first-child svg {
    animation: fade .2s linear;
  }

  &__btn:hover ~ &__actions div span:last-child svg {
    animation: fade .2s linear .2s;
  }

  &__actions {
    position: absolute;
    bottom: 0;
    right: -150px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;

    & > span {
      animation: fade .2s linear .2s;
    }

    div {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span:first-child {
        animation: fade .2s linear;
      }

      span:last-child {
        margin-top: 20px;
        rotate: 45deg;
        animation: fade .2s linear .2s;
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
    scale: 0.1;
  } 
  to {
    opacity: 1;
    scale: 1;
  }
}