.contact {
  padding: 50px 0;

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
   
    @media (max-width: 767px) {
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    width: 100%;
    text-align: center;
    font-size: 15vw;
    margin-bottom: 6vh;

    @media (min-width: 767px) {
      font-size: 9vw;
    }
  }

  &__address {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;

    @media (min-width: 767px) {
      flex-direction: row;
    }
  }

  &__block {
    width: 100%;
    margin: 10px 0;
    text-align: center;

    @media (min-width: 767px) {
      text-align: start;
      width: auto;
      font-size: 12px;
    }

    div + div {
      margin-top: 40px;
    }

    div {

      p {
        font-size: 12px;
        margin-bottom: 10px;

        @media (min-width: 767px) {
          font-size: 12px;
        }
      }

      a {
        position: relative;
        font-size: 15px;
        
        font-weight: 600;
        text-transform: uppercase;


        @media (min-width: 767px) {
          font-size: 16px;
        }
  
        &::after {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 0;
          height: 1px;
          width: 0;
          background: black;
          transition: all .3s linear;
        }
  
        &:hover::after {
          width: 100%;
        }

        span {
          font-size: 20px;
          line-height: 26px;
          font-weight: 400;
          text-transform: none;
        }
      }
    }
  }
}
